:root {
  --font-color: white;
  --body-background-color: white;
  --personal-info-background-color: white;
  --personal-info-background-color-with-alpha: white;
  --main-background-color: white;
  --page-controls-background-color: white;

  --theme-color: white;
  --hover-background-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

.max-width-wrapper {
  max-width: 1600px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

html.dark {
  --font-color: hsl(0, 0%, 93%);
  --body-background-color: hsl(0, 0%, 12%);
  --personal-info-background-color: hsl(0, 0%, 15%);
  --personal-info-background-color-with-alpha: hsl(0, 0%, 15%, 0.85);
  --main-background-color: hsl(0, 0%, 19%);
  --page-controls-background-color: hsl(0, 0%, 19%, 0.7);
  --theme-color: rgb(88, 203, 235);
  --hover-info-background-color: hsl(0, 0%, 15%, 0.95);
  --hover-info-border-color: hsl(0, 0%, 25%, 1);
}

html.light {
  --font-color: hsl(0, 0%, 0%);
  --body-background-color: hsl(0, 0%, 100%);
  --personal-info-background-color: hsl(0, 0%, 85%);
  --personal-info-background-color-with-alpha: rgba(204, 204, 204, 0.55);
  --main-background-color: hsl(0, 0%, 90%);
  --page-controls-background-color: hsl(0, 0%, 90%, 0.7);
  --theme-color: rgb(88, 203, 235);
  --hover-info-background-color: rgba(215, 215, 215, 0.95);
  --hover-info-border-color: rgb(177, 177, 177);
}

.dark body {
  background: url("/assets/background-dark.png");
}

.light body {
  background: url("/assets/background-light.png");
}

.color__transition {
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in;
}

html {
  font-family: Vazirmatn, sans-serif;
  color: var(--font-color);
}

body {
  margin: 0;
  background-color: var(--body-background-color);
  /* There was a problem with english element causing the page to have a horizontal scrollbar */
  overflow-x: hidden;
}

.color__transition body {
  transition: background-color 0.25s ease-in;
}

.page__wrapper {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  padding: 0;
}

.page__controls {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.color__transition .page__control__transition {
  transition: background-color 0.25s ease-in 0.25s;
}

.main__wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--main-background-color);
  position: relative;
}

.main__wrapper__transition {
  transition: transform 0.5s ease-out;
}

.color__transition .main__wrapper__transition {
  transition: transform 0.5s ease-out, background-color 0.25s ease-in 0.125s;
}

.main__header__english {
  position: absolute;
  top: 0;
  left: 0;
}

.main__header__transition {
  transition: transform 0.5s ease-out, opacity 0.25s ease-out;
}

.personal__wrapper {
  background-color: var(--personal-info-background-color-with-alpha);
  flex-grow: 0;
  flex-shrink: 2;
}

.personal__info__english {
  position: absolute;
  min-height: 100%;
  opacity: 0;
}

.personal__wrapper__transition {
  transition: transform 0.5s ease-out, opacity 0.25s ease-out;
}

.color__transition .personal__wrapper__transition {
  transition: transform 0.5s ease-out, opacity 0.25s ease-out,
    background-color 0.25s ease-in;
}

.personal__wrapper > div {
  position: sticky;
  top: 16px;
}

.personal__info__english {
  direction: ltr;
}

.career__section {
  display: flex;
  margin-top: 48px;
  gap: 32px;
}
.career__info {
  flex: 1;
  height: fit-content;
}

.career__info__transition {
  transition: transform 0.5s ease-out, opacity 0.25s ease-out;
}

.career__info__english {
  position: absolute;
  right: 100%;
  direction: ltr;
  padding-inline-end: 16px;
}

.career__timeline {
  position: relative;
  min-width: 140px;
}

.career__timeline > div {
  position: relative;
}
.career__timeline__line {
  transition: opacity 0.25s ease-in;
  content: "";
  position: absolute;
  right: 8px;
  top: 36px;
  bottom: 36px;
  width: 1px;
  border-right: 1px solid;
  opacity: 0;
}

.timeline__begin__animation {
  transition: transform 1s ease-out;
}

.career__timeline__line__animate .career__timeline__line {
  opacity: 1;
}

.timeline__language__transition {
  transition: transform 0.5s ease-out;
}

.timeline__end,
.timeline__begin {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.timeline__circle {
  width: 16px;
  height: 16px;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.features__used {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.svg__wrapper {
  width: 48px;
  height: 48px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.svg__wrapper > img {
  width: 48px;
  height: 38px;
}

.svg__wrapper.loading::before {
  content: "";
  background-color: gray;
  position: absolute;
  inset: 0;
  opacity: 0.2;
  border-radius: 5px;
  animation: pulse 1s infinite alternate;
}

.timeline__logo {
  margin-right: 28px;
}

.logo__simaran {
  width: 96px;
  color: currentColor;
  position: absolute;
  top: 39px;
}
#simaran_path2 {
  fill: var(--main-background-color);
  transition: fill 0.25s ease-in 0.125s;
}

.logo__processmaker,
.logo__processmaker img {
  width: 128px;
  height: 105px;
}

.logo__jahad path {
  fill: currentColor;
}
.logo__jahad {
  position: absolute;
  top: 50px;
  width: 90px;
  height: auto;
  margin-right: 24px;
}

.logo__jquery g {
  width: 20px;
}

.career__info__jahad h3 {
  margin-top: 48px;
}
.career__info__jahad__item {
  margin-block: 24px;
}
.career__info__jahad__item:last-child {
  margin-bottom: 48px;
}

.logo__jquery g g path {
  fill: currentColor;
}

.logo__processmaker path:not(:first-child) {
  fill: currentColor;
}

.label__unchecked,
.label__checked {
  direction: ltr;
}
.label__language {
  margin-top: 2px;
}

.label__unchecked,
label:has(#languageCheckbox:not(:checked)) .label__language {
  color: hsl(0, 0%, 49%);
}

.timeline__logo__link__transition {
  transition: color 0.5s ease-out;
}
.timeline__logo__link:hover {
  color: var(--theme-color);
}

@keyframes pulse {
  from {
    background-color: gray;
  }
  to {
    background-color: lightgray;
  }
}

@media only screen and (max-width: 1100px) {
  .page__wrapper {
    flex-direction: column;
  }

  .main__wrapper {
    transform: unset !important;
  }

  .personal__wrapper > div {
    position: static;
  }

  .max-width-wrapper {
    margin: 0;
  }

  .personal__wrapper {
    order: 1;
  }

  .main__wrapper {
    order: 2;
  }

  .page__controls {
    position: sticky;
    flex-direction: row;
    bottom: 0;
    right: 0;
    padding-block: 16px;
    background-color: var(--personal-info-background-color-with-alpha);
  }

  /* Sorry for the mess but I have to remove the background color from the equation to display background colors properly */
  /* What happened was that when switching from farsi to english the body background color is shown between transition */
  /* To fix the issue I switch the body background color to the color of what personal info is */
  /* It gives the illusion that transform translate is happening smoothly */
  .color__transition body {
    transition: unset;
    background: var(--personal-info-background-color) !important;
  }
}

@media only screen and (max-width: 700px) {
  .career__timeline {
    display: none;
  }
}

.page__item__info {
  position: fixed;
  padding-inline: 8px;
  padding-top: 16px;
  padding-bottom: 12px;
  background-color: var(--hover-info-background-color);
  border-radius: 5px;
  line-height: 0;
  border: 1px solid var(--hover-info-border-color);
  font-size: 0.75rem;
}

.page__item__info__span {
  cursor: default;
  border-bottom: 1px solid var(--hover-info-border-color);
}

html[lang="en"] .page__item__info {
  direction: ltr;
}
